*{
    margin:0;
    padding:0;
    font-family: 'Poppings', 'sans-serif';
    box-sizing: border-box;
    --font-color:#454855;
    --primary-color:#C10302;
    --background-color:#F8F8FB;
}
a{
    color: var(--primary-color);
}
html{
    scroll-behavior: smooth;/*no jumps in scrolling*/
}
body{
    background: var(--background-color);
    color: var(--font-color);
}
#header{
    width: 100%;
    height: 100vh;
    /*background-image: url(images/bg.jpeg);*/
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 140;
}
nav ul img {
    border-radius: 50%;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px
}
nav ul li a{
    color: black;
    text-decoration: none;
    font-size: 18;
    position: relative;
}
nav ul li a::after{/*color line under links*/
    content: '';
    width: 0%;
    height: 3px;
    background: var(--primary-color);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: var(--primary-color);
}
.header-text img{
    border-radius: 50%;
    width: 40%;
}
/***********about*********/
#about{
    padding: 80px 0;
    color: var(--font-color);
}
.row{
    display: flex;/*contents side by side*/
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 25px;
}
.about-col-2{
    flex-basis: 55%;/*10% space between cols because 55+35 = 90*/
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: var(--primary-color);
    padding-bottom: 10%;
}
.about-col-2 p{
    font-size: 24px;
}
/***********projects*********/
#projects{
    padding: 80px 0;
    color: var(--font-color);
}
.row{
    display: flex;/*contents side by side*/
    justify-content: space-between;
    flex-wrap: wrap;
}
.projects-col-1{
    flex-basis: 35%;
}
.projects-col-1 img{
    height: 500;
    border-radius: 50px;
}
.projects-col-2{
    flex-basis: 55%;/*10% space between cols because 55+35 = 90*/
    font-size: 24px;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-family: 'Poppings', 'sans-serif';
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: var(--primary-color);
    bottom: -8px;
    left: 0;
    transition:0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style:none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: var(--primary-color);
    font-size: 18;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
.tab-imgs{
    display: none;
}
.tab-imgs.active-img{
    display: block;
}
/***********contact*********/
.social-icons a{
    color: var(--font-color);
    font-size: 18px;
    text-decoration: none;
    position: relative;
}
.social-icons a i{
    font-size: 18px;
    padding: 10px;
    color: var(--font-color);
    list-style: none;
}
.social-icons ul li{
    list-style: none;
}
.icon-text{
    color: var(--primary-color);
}
/* -----css for small screens----- */
@media only screen and (max-width: 600px){
    #header{
        width: 120%;
        height: 600px;
    }
    .header-text{
        margin-top: 50%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 28px;
    }
    #about{        
    }
    .sub-title{
        margin-top: 20;
        font-size: 36px;
    }
    .about-col-1,.about-col-2{
        flex-basis: 100%
    }
    .about-col-1{
        margin-bottom: 50px;
    }
    .about-col-2 p{
        font-size: 18px;
    }
    #projects{
    }
    .projects-col-2{
        font-size: 18px;
    }
    .projects-col-1{
        margin-top: 20px
    }
    .projects-col-1 img{
        height: 300;
    }
    .tab-links{
        font-size: 12px;
    }
    #contact{
        margin-top: 100;
    }
    .contact-left{
        flex-basis: 100%;
        font-size: 12px;
    }
}